ul{
    font-weight: 700;
    font-style: italic;
    margin-top: 50px;
    margin-left: 50px;
}
ol{
    font-weight: 700;
    font-style: italic;
    margin-top: 20px;
    margin-left: 50px;
}